@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
  --color-text: var(--text);
}

:root {
  --primary: #222;
  --secondary: #111;
  --border: #fff;
  --text: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.05) inset !important;
  -webkit-text-fill-color: #fff !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.auth-page-fade-in {
  animation: fadeIn 3s ease-out forwards;
  opacity: 0;
}

/* .outline-text {
  color: transparent;
  -webkit-text-stroke: 0.6px #fff;
} */
